.footer {
  padding: 20px;
  margin-top: 4rem;
  color: #000;
}

.footer-arial-logo {
  width: 60px;
  height: 56px;
  padding-bottom: 10px;
}

.footer p {
  font-size: 16px;
}

.footerMid {
  margin-top: 20px;
}

.footerMid h4 {
  font-size: 14px;
  font-weight: 600;
}

.offers {
  list-style: none;
  font-size: 14px;
}

.offers li {
  padding-top: 10px;
}

.footerContact {
  margin-top: 20px;
}

.footerContact h4 {
  font-size: 14px;
  font-weight: 600;
}

.contact {
  list-style: none;
  font-size: 14px;
}

.contact li {
  padding-top: 10px;
}

.contact-icon {
  padding-right: 5px;
}

.footerBottom {
  margin-top: 20px;
}

.footerBottom h4 {
  font-size: 14px;
  font-weight: 600;
}

.support {
  list-style: none;
  font-size: 14px;
}

.support li {
  padding-top: 10px;
}

.socials {
  margin-top: 20px;
}

.socials h4 {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}

.socialMedia {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.socialMedia li {
  padding-right: 15px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem;
  }

  .logoP {
    width: 15rem;
    margin-left: 0;
  }

  .footer-arial-logo {
    width: 40px;
    height: 46px;
    padding-bottom: 5px;
  }

  .footer p {
    font-size: 12px;
  }

  .logoP {
    width: 20%;
    margin-left: -1.5rem;
  }

  .footerMid {
    margin-top: 0;
  }

  .footerMid h4 {
    font-size: 14px;
  }

  .footerMid li {
    font-size: 12px;
  }

  .footerContact {
    margin-top: 0;
  }

  .footerContact h4 {
    font-size: 14px;
  }

  .footerContact li {
    font-size: 12px;
  }

  .footerBottom {
    margin-top: 0;
  }

  .footerBottom h4 {
    font-size: 14px;
  }

  .footerBottom li {
    font-size: 12px;
  }

  .socials {
    margin-top: 0;
  }

  .socials h4 {
    font-size: 14px;
  }

  .socials img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1024px) {

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 3.5rem;
  }

  .logoP {
    width: 15rem;
    margin-left: -4vw;
  }

  
  .footer-arial-logo {
    width: 40px;
    height: 46px;
    padding-bottom: 5px;
  }

  .footer p {
    font-size: 14px;
  }

  /* .logoP {
    width: 20%;
    margin-left: -1.5rem;
  } */

  .footerMid {
    margin-top: 0;
  }

  .footerMid h4 {
    font-size: 16px;
  }

  .footerMid li {
    font-size: 14px;
  }

  .footerContact {
    margin-top: 0;
  }

  .footerContact h4 {
    font-size: 14px;
  }

  .footerContact li {
    font-size: 14px;
  }

  .footerBottom {
    margin-top: 0;
  }

  .footerBottom h4 {
    font-size: 16px;
  }

  .footerBottom li {
    font-size: 14px;
  }

  .socials {
    margin-top: 0;
  }

  .socials h4 {
    font-size: 16px;
    padding-bottom: 0;
  }

  .socials img {
    width: 20px;
    height: 20px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1440px) {

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 3.5rem;
  }

  .logoP {
    width: 15rem;
    margin-left: -9vw;
  }

  .footerMid h4 {
    font-size: 14px;
  }

  .footerMid li {
    font-size: 14px;
  }

  .footerContact {
    margin-top: 0;
  }

  .footerContact h4 {
    font-size: 14px;
  }

  .footerContact li {
    font-size: 14px;
  }

  .footerBottom {
    margin-top: 0;
  }

  .footerBottom h4 {
    font-size: 14px;
  }

  .footerBottom li {
    font-size: 14px;
  }

  .socials {
    margin-top: 0;
  }

  .socials h4 {
    font-size: 14px;
    padding-bottom: 0;
  }

  .socials img {
    width: 20px;
    height: 20px;
    padding-top: 10px;
  }
}