.intro {
  position: relative;
  background-image: url("../assets/contact-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding-top: 7rem;
  color: #fff;
  overflow: hidden;
}

.gradient-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  height: 100%;
}

.content2 {
  position: relative;
  z-index: 1;
}

.intro h1 {
  font-size: 23px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.intro p {
  font-size: 16px;
  padding-left: 10px;
  line-height: 24px;
  padding-bottom: 0.6rem;
}

.check {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.each-check {
  padding-right: 20px;
}

.checkIcon {
  padding-right: 10px;
}

.form {
  padding-left: 10px;
  margin-top: 2.5rem;
}

.form-group {
  padding-bottom: 0.5rem;
}

.form-group h4,
.form-group label {
  font-size: 16px;
  padding-bottom: 5px;
}

.name-flex {
  display: none;
}

.form-group input {
  width: 90vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group textarea {
  width: 90vw;
  height: 150px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.send button {
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;/* margin: 20px 80px; */
  font-size: 12px;
  font-weight: 700;
}

.contactDetails {
  padding-left: 10px;
  padding-top: 3rem;
}

.email-add h4 {
  font-size: 16px;
  padding-bottom: 10px;
}

.email-add p {
  font-size: 16px;
  padding-bottom: 1rem;
}

.phone-nos h4 {
  font-size: 16px;
  padding-bottom: 10px;
}

.phone-nos p {
  font-size: 16px;
  padding-bottom: 1rem;
}

.social-media h4 {
  font-size: 16px;
  padding-bottom: 10px;
}

/* .the-socials {
  padding-left: 10px;
} */

.each-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
}

.each-socials img {
  width: 15px;
  height: 15px;
  padding-right: 10px;
}

.questions2 {
  margin-top: 2rem;
  padding: 10px;
}

.questions2 h2 {
  font-size: 22px;
  padding-bottom: 15px;
}

.each-question2 {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.main-question2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.each-question2 h4 {
  font-size: 16px;
  padding-right: 5px;
}

.each-question2 p {
  font-size: 16px;
  padding-top: 15px;
}

@media (min-width: 768px) {
  .form {
    margin: 0.5rem;

    /* width: 100%; */
    background: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  }

  .form-group input {
    width: 80vw;
  }

  .form-group textarea {
    width: 80vw;
  }

  .each-question2 {
    margin: 10px 0;
  }
}

@media (min-width: 1024px) {
  .reachus {
    position: relative;
  }

  .reachusBody {
    padding: 5%;
  }

  .intro {
    height: 460px;
    padding-top: 0;
  }

  .content2 {
    width: 38%;
    margin-left: 5%;
    position: absolute;
    top: 50%;
  }

  .contactDetails {
    padding: 0;
  }

  .reachForm {
    margin-bottom: 14rem;
  }

  .form {
    position: absolute;
    height: auto;
    width: 40%;
    background: #fff;
    right: 0;
    top: 11%;
    margin-right: 5%;
    z-index: 9;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  }

  .name-flex {
    display: flex;
    justify-content: space-between;
  }

  .name-flex input {
    width: 100%;
    margin-top: 5px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .form-group h4 {
    padding-top: 15px;
  }

  .form-group input,
  .form-group textarea {
    width: 98%;
  }

  .nametag {
    width: 47%;
  }

  .nametag label {
    font-size: 16px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
  }

  .email-phone {
    display: flex;
    gap: 48px;
  }

  .questions2 {
    margin: 74px auto;
    width: 85%;
  }

  .questions2 h2 {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .reachusBody {
    padding: 7%;
  }

  .form {
    width: 550px;/* top: -145%; */
    top: 10%;
  }

  .name-flex input {
    height: 35px;
  }

  .form-group input {
    height: 35px;
    width: 98%;
  }

  .form-group textarea {
    height: 17rem;
    width: 98%;
  }

  .questions2 {
    width: 65%;
    margin-top: 25rem;
  }
}
